.container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;

    .title {
        padding-top: 20px;
        text-align: center;

        .comp {
            margin-top: 10px;
            width: 250px;
        }
    }

    .liste {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    .buttons {
        width: 300px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding-top: 0px;
    }

}