.container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    
    .title {
        text-align: center;

        .comp {
            margin-top: 10px;
            width: 250px;
        }
    }
}

.liste {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}