.logo {
    padding-top: 50px;
}

.texte {

}

.buttons {
    padding-top: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;

    .button {
        width: 250px;
    }

    .cards {
        padding-top: 20px;
    }

    .card {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}
